
<link href="css/login.css" rel="stylesheet" id="bootstrap-css">
<script src="java_script/lootifie.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
    h1 {
        font-weight: bold;
        font-family: 'Libre Baskerville', serif;
    }


</style>
<script>
    

</script>

<body>
    <div class="relative" >
      
        <div class="wrapper" id="loading">
            <div class="card  shadow-lg fadeIn" style="padding: 100px">
                <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_jvkRrK.json" background="transparent"
                    speed="1" style="width: 300px; height: 300px;" loop autoplay>
                </lottie-player>
                <h1 class="text-center">Uploading</h1>
            </div>
        </div>
    </div>


</body>