<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/anime.css') }}">
 <!-- lootifie json file -->
 <script src="{{ url_for('static', filename="java_script/lootifie.js")}}"></script>
 <!-- bootstrap css   -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



<style>
    .card {
        width: 1200px;
        height: 700px;
    }

    .form-control {
        width: 350px;
        margin-bottom: 10px
    }

    h1 {
        font-weight: bold;
        font-family: 'Libre Baskerville', serif;
    }
</style>


<body>
    
    <div class="wrapper">

        <div class="card shadow-lg fadeInDown">
            <div class="row" style="height: 100%">
                <div class="col-6 fadeIn">

                    <div class="d-flex justify-content-end align-items-center" style="width: 90% ; height: 100%; ">

                        <form method = "POST" action = "">
                            <h1 class="mb-5">
                                <b>Login your Account</b>
                            </h1>
                            <label>Your Username</label>
                            <input name="username" class="form-control" placeholder="Username" type="text">

                            <label>Your password</label>
                            <input class="form-control" placeholder="******" type="password" name="password">
                            <table class="ml-2" style="width: 100%">
                                <tr>

                                    <td> <button type="button" class="btn btn-block" onClick="window.location='registerUser';"
                                style="width: 150px; border-color:blue">Register</button>
                        </td>


                        <td> <button type="submit"
                            class="btn btn-primary btn-block" style="width: 150px;">
                            Login  </button>
                    </td>

                </form>
                        </tr>
                        </table>

                    </div>

                </div>
                <div class="col-6">

                    <lottie-player src="{{ url_for('static', filename="json_file/login.json")}}" background="transparent" speed="1"
                        style="width: 100%; height: 100%;" autoplay>
                    </lottie-player>
                </div>
            </div>
        </div>
    </div>

</body>
