<!-- lootifie json file -->
<script src="../static/java_script/lootifie.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



        <lottie-player class="text-center align-self-center justify-content-center"
            src="../static/json_file/addProject.json" background="transparent" speed="1" autoplay loop>
        </lottie-player>
   

